.btn {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;

  /* -------------------------------------------------------------------------- */
  /*                                    크기정의                                  */
  /* -------------------------------------------------------------------------- */
  &.base {
    --px: 4rem;
    --py: 0.4rem;
    --fs: 1.6rem;

    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
    border-radius: 0.8rem;
    line-height: var(--lh-7xl);
  }
  &.md {
    --px: 4rem;
    --py: 0.4rem;
    --fs: 2rem;

    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
    border-radius: 0.8rem;
    line-height: var(--lh-7xl);
  }

  /* -------------------------------------------------------------------------- */
  /*                                    색상정의                                  */
  /* -------------------------------------------------------------------------- */
  &.primary {
    color: var(--white);
    background-color: light-dark(var(--primary), var(--primary));
  }
  &.secondary {
    color: light-dark(var(--white), var(--white));
    background-color: light-dark(var(--gray800), var(--gray800));
    border: 1px solid light-dark(var(--gray800), var(--gray800));
  }
  &.outline-primary {
    color: light-dark(var(--blue600), var(--white));
    border: 1px solid light-dark(var(--blue600), var(--white));
  }
  &.outline-secondary {
    color: light-dark(var(--gray800), var(--white));
    border: 1px solid light-dark(var(--gray800), var(--white));
  }
  &.text-black {
    color: light-dark(var(--gray800), var(--white));
  }
  &:disabled {
    opacity: 0.2;
  }

  /* -------------------------------------------------------------------------- */
  /*                                    아이콘정의                                */
  /* -------------------------------------------------------------------------- */
  &[class*='ico'] {
    &::after {
      content: '';
      width: var(--width);
      aspect-ratio: 1;
      background: var(--bg) no-repeat center / contain;
    }
  }
  /*white*/
  &.ico1 {
    --width: 2rem;
    --bg: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2221%22%20viewBox%3D%220%200%2020%2021%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M4.16666%2010.5H15.8333%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%221.25%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%20%20%3Cpath%20d%3D%22M10.8333%2015.5L15.8333%2010.5%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%221.25%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%20%20%3Cpath%20d%3D%22M10.8333%205.5L15.8333%2010.5%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%221.25%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E');
  }
  /*dark*/
  &.ico2 {
    --width: 2rem;
    --bg: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2221%22%20viewBox%3D%220%200%2020%2021%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M4.16666%2010.5H15.8333%22%20stroke%3D%22%23121212%22%20stroke-width%3D%221.25%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%20%20%3Cpath%20d%3D%22M10.8333%2015.5L15.8333%2010.5%22%20stroke%3D%22%23121212%22%20stroke-width%3D%221.25%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%20%20%3Cpath%20d%3D%22M10.8333%205.5L15.8333%2010.5%22%20stroke%3D%22%23121212%22%20stroke-width%3D%221.25%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E');
  }
  /*light-blue*/
  &.ico3 {
    --width: 2rem;
    --bg: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2221%22%20viewBox%3D%220%200%2020%2021%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M4.16666%2010.5H15.8333%22%20stroke%3D%22%23377dff%22%20stroke-width%3D%221.25%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%20%20%3Cpath%20d%3D%22M10.8333%2015.5L15.8333%2010.5%22%20stroke%3D%22%23377dff%22%20stroke-width%3D%221.25%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%20%20%3Cpath%20d%3D%22M10.8333%205.5L15.8333%2010.5%22%20stroke%3D%22%23377dff%22%20stroke-width%3D%221.25%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E');
  }
}

/* -------------------------------------------------------------------------- */
/*                                    아이콘전용                                */
/* -------------------------------------------------------------------------- */
.ico-button {
  --size: var(--icon-size, 3rem);
  --rounded: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: var(--rounded, 0);
  background-color: transparent;
  cursor: pointer;
  position: relative;

  /* 아이콘 유효성 검사 */
  &:has(svg:not(svg[aria-hidden='true'])) {
    &::after {
      content: 'svg에 aria-hidden을 정의하세요';
      position: absolute;
      left: 0;
      top: -1.5rem;
      white-space: nowrap;
      font-size: 1.2rem;
      color: red;
      background-color: var(--white);
    }
  }
  &:not([aria-label]) {
    &::after {
      content: 'button에 aria-label에 대체텍스트를 넣어주세요';
      position: absolute;
      left: 0;
      top: -1.5rem;
      white-space: nowrap;
      font-size: 1.2rem;
      color: red;
      background-color: var(--white);
    }
  }

  /* 아이콘 크기 정의 */
  &.xs {
    --icon-size: 1.5rem;
  }
  &.sm {
    --icon-size: 1.6rem;
  }
  &.base {
    --icon-size: 2rem;
  }
  &.md {
    --icon-size: 2.5rem;
  }
  &.lg {
    --icon-size: 2.8rem;
  }
}
