.about-wrap {
  .mb40 {
    margin-bottom: 4rem;
  }

  @media (max-width: 885px) {
    .mb40 {
      margin-bottom: 0 !important;
    }
  }

  max-width: 1160px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;

  @media (max-width: 885px) {
    width: 100%;
  }

  .top-group {
    display: flex;
    justify-content: space-between;

    @media (max-width: 885px) {
      /* padding: 0 3.2rem; */
    }
  }

  /*breadcrumb*/
  .breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    /* color: var(--gray500, #605f5f); */
    color: light-dark(var(--gray500, #605f5f), var(--gray200-50));
    font-family: Inter;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-feature-settings: 'liga' off, 'clig' off;

    .startpoint {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      a:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.2rem;
        text-underline-offset: 0.5rem;
      }
    }
    .bread-icon {
      width: 1.2rem;
      height: 1.2rem;
      background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M4.58423%203L7.58423%206L4.58423%209%22%20stroke%3D%22%23605F5F%22%20stroke-width%3D%220.75%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E');
    }
    .current {
      color: var(--gray800, #121212);
      color: light-dark(var(--gray800, #121212), var(--white));
      font-style: normal;
      font-weight: 400;
      a:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.2rem;
        text-underline-offset: 0.5rem;
      }
    }
  }
  /*1.intro*/
  .intro {
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 885px) {
      /* padding: 0 3.2rem; */
      width: 100%;
    }

    h1,
    p {
      width: 100%;
      word-break: keep-all; /* 단어 단위 줄바꿈 */
      box-sizing: border-box;
    }
    .headline-3 {
      --color: light-dark(var(--gray800), var(--gray800));
      @media (max-width: 885px) {
        font-size: var(--font-xxl);
        line-height: var(--lh-7);
      }
    }
  }

  /*2.about us*/
  .about {
    background-color: var(--gray100-20);
    display: flex;
    width: 100%;
    overflow: hidden;
    margin: 0;
    border-radius: 0.4rem;

    @media (max-width: 885px) {
      flex-direction: column;
      height: auto;
      max-width: 100%;
      margin: 0; /* 마진 제거 */
    }

    .about-image {
      flex: 1;
      overflow: hidden;

      @media (max-width: 885px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* 중요: 이미지가 영역을 꽉 채우면서 비율 유지 */
        display: block;
      }
    }

    .about-text {
      flex: 1;
      /* padding: 20px; */
      box-sizing: border-box;
      background-color: light-dark(var(--gray200), var(--gray100-10));

      @media (max-width: 885px) {
        width: 100%;
        padding: 3rem 3.2rem;
      }
    }
  }

  /*3.Contact us area*/
  .contact {
    width: 100%;

    @media (max-width: 885px) {
      width: 100%;
    }

    /* Icon styles */
    .icon-01,
    .icon-02,
    .icon-03 {
      width: 48px;
      height: 48px;

      margin: 0 auto 10px;
    }

    .icon-01 {
      background: url(../images/ico_contactus_01.svg) no-repeat center / contain;
      width: 3.2rem;
      height: 3.2rem;
      margin-bottom: 0.8rem;
    }
    .icon-02 {
      background: url(../images/ico_contactus_02.svg) no-repeat center / contain;
      width: 3.2rem;
      height: 3.2rem;
      margin-bottom: 0.8rem;
    }
    .icon-03 {
      background: url(../images/ico_contactus_03.svg) no-repeat center / contain;
      width: 3.2rem;
      height: 3.2rem;
      margin-bottom: 0.8rem;
    }

    .contact-info {
      width: 100%;
      display: flex;
      gap: 2.4rem;
      justify-content: space-between;
      margin: 0 auto;
      box-sizing: border-box;

      @media (max-width: 885px) {
        flex-direction: column; /* 세로 방향으로 변경 */
        gap: 1.2rem;
        align-items: center;
        width: 100%;
      }

      .contact-card {
        flex: 1;
        display: grid;
        gap: 0.8rem;
        align-items: start;
        text-align: center;
        justify-content: center;
        background-color: light-dark(var(--gray200), var(--gray100-20));
        border-radius: 0.4rem;

        @media (max-width: 885px) {
          width: 100%;
          margin-bottom: 0;
          padding: 1.6rem 1.2rem;
        }
      }
    }
  }

  /*4.form, map area*/
  .contact-form-area {
    display: flex;
    margin: 0;
    gap: 2.8rem;

    @media (max-width: 885px) {
      flex-direction: column;
      gap: 0;
    }

    .contact-form {
      flex: 1;
      /* padding: 2rem 0; */
      box-sizing: border-box;

      @media (max-width: 885px) {
        width: 100%;
        /* padding: 2rem; */
      }
    }
    .map {
      flex: 1;
      overflow: hidden;
      box-sizing: border-box;
      margin: 0;
      line-height: 0;

      @media (max-width: 885px) {
        width: 100%;
        height: 300px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

  .title-center {
    padding-top: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    width: 100%; /* 전체 너비 설정 */
    box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
  }

  /* Form field 영역 */
  .form-field {
    display: grid;
    gap: 0.8rem;
    align-items: center;
    margin-bottom: 3rem;

    @media (max-width: 886px) {
      align-items: center;
      margin-bottom: 2rem;
    }
  }
  .text-field {
    --width: 100%;

    @media (width < 885px) {
      --height: 6rem;
      --fontSize: 2.4rem;
      &::placeholder {
        font-size: 2.4rem;
      }
    }
  }

  /* ------ 글자색상 변경, theme ------ */
  .body-2-reg {
    /* --color: light-dark(var(--blue600), var(--white)); */
    --color: light-dark(var(--gray800), var(--white));
    color: var(--color, var(--gray800));
  }
}
