/* -------------------------------------------------------------------------- */
/*                                   Spacing                                  */
/* -------------------------------------------------------------------------- */
.mt2 {
  margin-top: 0.2rem;
}
.mt4 {
  margin-top: 0.4rem;
}
.mt40 {
  margin-top: 4rem;
}
.mb40 {
  margin-bottom: 4rem;
}
.mb24 {
  margin-bottom: 2.4rem;
}
.mb32 {
  margin-bottom: 3.2rem;
}
.mb48 {
  margin-bottom: 4.8rem;
}
