.text-field {
  --paddingX: 1rem;
  --width: auto;
  --height: 5rem;
  --borderColor: light-dark(var(--gray800), var(--white));
  --rounded: 0.4rem;
  --fontSize: 1.8rem;
  --fontWeight: var(--fw-light);

  --color: light-dark(var(--blue600), var(--white));
  --placeholderColor: light-dark(var(--blue700), var(--blue600));
  --disabled: 0.4;
  --hoverBorderColor: light-dark(var(--blue600), var(--white));
  --focusBorderColor: light-dark(var(--blue600), var(--white));

  padding-inline: var(--paddingX);
  padding-block: var(--paddingY, 0);
  width: var(--width);
  height: var(--height);
  border: 1px solid var(--borderColor);
  border-radius: var(--rounded);
  box-sizing: border-box;
  color: var(--color);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  background-color: light-dark(var(--gray200), var(--blue800));

  &::placeholder {
    color: var(--placeholderColor);
    background-color: light-dark(var(--gray300), var(--gray100-10));
  }
  &:hover {
    border-color: var(--hoverBorderColor);
    border: 0.2rem solid var(--borderColor);
    background-color: light-dark(var(--gray300), var(--gray100-20));
  }
  &:focus {
    border-color: var(--focusBorderColor);
    outline: none;
  }
  &:disabled {
    opacity: var(--disabled);
    /* mouse-cursor: none; */
  }
  &.error {
    border: 1px solid var(--danger);
    color: var(--danger);
  }
}
textarea {
  &.text-field {
    --width: 100%;
    --height: 10rem;
    --paddingY: 1rem;
  }
}
