/* -------------------------------------------------------------------------- */
/*                                  Typography                                */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:wght@400;500&display=swap');

body {
  background-color: light-dark(var(--gray100), var(--blue600));
  font-family: var(--ff-body);
  font-size: var(--fs, var(--font-xs)); /* 16px base */
  line-height: var(--lh-base);
  /* color: var(--gray800); */
  color: light-dark(var(--secondary), var(--white));
}

/* Text Size Utilities */
.text-xxxs {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-xxxs));
  line-height: var(--lh, var(--lh-xxxs));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

.text-xxs {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-xxs));
  line-height: var(--lh, var(--lh-xs));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

.text-xs {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-xs));
  line-height: var(--lh, var(--lh-base));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

.text-sm {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-sm));
  line-height: var(--lh, var(--lh-base));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

.text-base {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-base));
  line-height: var(--lh, var(--lh-md));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

.text-md {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-md));
  line-height: var(--lh, var(--lh-md));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

.text-lg {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-lg));
  line-height: var(--lh, var(--lh-lg));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

.text-xl {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-xl));
  line-height: var(--lh, var(--lh-lg));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

.text-xxl {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-xxl));
  line-height: var(--lh, var(--lh-xl));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.text-3xl {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-3xl));
  line-height: var(--lh, var(--lh-xxl));
  letter-spacing: var(--ls, var(--ls-md));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.text-4xl {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-4xl));
  line-height: var(--lh, var(--lh-3xl));
  letter-spacing: var(--ls, var(--ls-lg));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.text-5xl {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-5xl));
  line-height: var(--lh, var(--lh-4xl));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.text-6xl {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-6xl));
  line-height: var(--lh, var(--lh-5xl));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.text-7xl {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-7xl));
  line-height: var(--lh, var(--lh-6xl));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

/* Figma Style Text Classes */
.hero {
  color: light-dark(var(--gray800), var(--blue600));
  font-size: var(--fs, var(--hero-size));
  line-height: var(--lh, var(--lh-6xl));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.headline-1 {
  color: light-dark(var(--gray800), var(--blue600));
  font-size: var(--fs, var(--headline-1-size));
  line-height: var(--lh, var(--lh-5xl));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.headline-2 {
  color: light-dark(var(--gray800), var(--blue600));
  font-size: var(--fs, var(--headline-2-size));
  line-height: var(--lh, var(--lh-4xl));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.headline-3 {
  color: light-dark(var(--gray800), var(--gray800));
  font-size: var(--fs, var(--headline-3-size));
  line-height: var(--lh, var(--lh-3xl));
  letter-spacing: var(--ls, var(--ls-lg));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.headline-4 {
  color: light-dark(var(--gray800), var(--gray800));
  font-size: var(--fs, var(--headline-4-size));
  line-height: var(--lh, var(--lh-xxl));
  letter-spacing: var(--ls, var(--ls-md));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.headline-5 {
  color: light-dark(var(--gray800), var(--blue600));
  font-size: var(--fs, var(--headline-5-size));
  line-height: var(--lh, var(--lh-xl));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.headline-6 {
  color: light-dark(var(--gray800), var(--blue600));
  font-size: var(--fs, var(--headline-6-size));
  line-height: var(--lh, var(--lh-lg));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.headline-7 {
  color: light-dark(var(--gray800), var(--blue600));
  font-size: var(--fs, var(--headline-7-size));
  line-height: var(--lh, var(--lh-md));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

.body-1 {
  color: light-dark(var(--blue600), var(--blue600));
  font-size: var(--fs, var(--body-1-size));
  line-height: var(--lh, var(--lh-md));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
  font-family: var(--ff-body);
}

.body-1-semi {
  color: light-dark(var(--blue600), var(--blue600));
  font-size: var(--fs, var(--body-1-size));
  line-height: var(--lh, var(--lh-md));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-semibold));
  font-family: var(--ff-body-semi);
}

.body-1-bold {
  color: light-dark(var(--blue600), var(--blue600));
  font-size: var(--fs, var(--body-1-size));
  line-height: var(--lh, var(--lh-md));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-bold));
  font-family: var(--ff-body-bold);
}

.body-2 {
  color: light-dark(var(--blue600), var(--white));
  font-size: var(--fs, var(--body-2-size));
  line-height: var(--lh, var(--lh-base));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
  font-family: var(--ff-body);
}

.body-2-semi {
  --color: light-dark(var(--blue600), var(--white));
  color: var(--color, var(--gray700));

  font-size: var(--fs, var(--body-2-size));
  line-height: var(--lh, var(--lh-base));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-semibold));
  font-family: var(--ff-body-semi);
}

.body-2-bold {
  color: light-dark(var(--blue600), var(--blue600));
  font-size: var(--fs, var(--body-2-size));
  line-height: var(--lh, var(--lh-base));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-bold));
  font-family: var(--ff-body-bold);
}

/* Font Weight Utilities */
.font-regular {
  font-weight: var(--fw-regular);
}

.font-medium {
  font-weight: var(--fw-medium);
}

.font-semibold {
  font-weight: var(--fw-semibold);
}

.font-bold {
  font-weight: var(--fw-bold);
}

/* Font Style for Bold and Strong Elements */
strong,
b {
  &[class*='text-'] {
    font-weight: var(--fw, var(--fw-bold));
  }
}

/* Hairline Text (All Caps) */
.hairline-1 {
  color: light-dark(var(--gray700), var(--blue680));
  font-family: var(--ff-body-bold);
  font-size: var(--font-xs);
  line-height: var(--lh-xxs);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.hairline-2 {
  color: light-dark(var(--gray500), var(--blue800));
  font-family: var(--ff-body-bold);
  font-size: var(--font-xxxs);
  line-height: var(--lh-xxxs);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

/* Button Text Styles */
.btn-xs {
  font-family: var(--ff-button);
  font-size: var(--font-xxs);
  line-height: var(--lh-sm);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-base);
}

.btn-s {
  font-family: var(--ff-button);
  font-size: var(--font-xs);
  line-height: 1.75; /* 28px */
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-sm);
}

.btn-m {
  font-family: var(--ff-button);
  font-size: var(--font-sm);
  line-height: 1.778; /* 32px */
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-base);
}

.btn-l {
  font-family: var(--ff-button);
  font-size: 2.2rem; /* 22px */
  line-height: 1.545; /* 34px */
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-base);
}

.btn-xl {
  font-family: var(--ff-button);
  font-size: 2.6rem; /* 26px */
  line-height: 1.462; /* 38px */
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-base);
}

/* Link Styles */
.link {
  cursor: pointer;
}

.link:hover {
  color: var(--gray600);
  text-decoration: underline 0.3rem;
  text-decoration-color: var(--gray800);
  text-underline-offset: 0.8rem;
}

/* Text Colors */
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-danger {
  color: var(--danger);
}

.text-success {
  color: var(--success);
}

.text-warning {
  color: var(--warning);
}

/* font-family */
/* .poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter-regular {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
} */

.button-text-size {
  color: blue;
}
.body-text-size {
  color: red;
}
.caption-text.size {
  color: violet;
}
.text-size-group {
  p {
    margin-bottom: 2rem;
  }
}
.info-text {
  font-size: 1.2rem;
  margin-left: 2rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
}
