/* -------------------------------------------------------------------------- */
/*                                  Typography                                */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:wght@400;500&display=swap');

body {
  /* background-color: light-dark(var(--gray100), var(--blue600)); */
  background-color: light-dark(var(--gray100), var(--gray800)); /*전체 배경 색상 변경!!*/
  font-family: var(--ff-body);
  font-size: var(--fs, var(--font-xs)); /* 16px base */
  line-height: var(--lh-11);
  /* color: var(--gray800); */
  color: light-dark(var(--secondary), var(--white));
}

/* Text Size Utilities */

/* 96px */
/* ------- 1.히어로 -------- */
.hero {
  /* --color: light-dark(var(--blue600), var(--white)); */
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-7xl));
  line-height: var(--lh, var(--lh-1));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

/* ------- 2.헤드라인 ------- */

/* 80px */
.headline-1 {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-6xl));
  line-height: var(--lh, var(--lh-2));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

/* 72px */
.headline-2 {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-5xl));
  line-height: var(--lh, var(--lh-3));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}
/* 54px */
.headline-3 {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-4xl));
  line-height: var(--lh, var(--lh-4));
  letter-spacing: var(--ls, var(--ls-lg));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

/* 40px */
.headline-4 {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-3xl));
  line-height: var(--lh, var(--lh-5));
  letter-spacing: var(--ls, var(--ls-md));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

/* 34px */
.headline-5 {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-xxl));
  line-height: var(--lh, var(--lh-6));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-medium));
  font-family: var(--ff-heading);
}

/* 28px */
.headline-6 {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-lg));
  line-height: var(--lh, var(--lh-7));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

/* 20px */
.headline-7 {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-base));
  line-height: var(--lh, var(--lh-7));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

/* ------- 3.바디 ------ */

/* 20px */
.body-1-reg {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-base));
  line-height: var(--lh, var(--lh-10));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

/* 16px */
.body-2-reg {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-xs));
  line-height: var(--lh, var(--lh-11));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

.body-2-reg-2 {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-xs));
  line-height: var(--lh, var(--lh-11));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

.body-2-reg-3 {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-xs));
  line-height: var(--lh, var(--lh-11));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

/* ------- 4.button, 버튼 ------ */

/* 14px */
.button-xs {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-xxs));
  line-height: var(--lh, var(--lh-8));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

/* 18px */
.button-m {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-sm));
  line-height: var(--lh, var(--lh-11));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

/* 22px x*/
.button-large {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-smd));
  line-height: var(--lh, var(--lh-8-2));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

/* 26px */
.button-xlarge {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-md));
  line-height: var(--lh, var(--lh-9-1));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

/* ------- 5.캡션------ */

/* 14px */
.caption-1 {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-xxs));
  line-height: var(--lh, var(--lh-1));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}
/* 12px */
.caption-2 {
  color: var(--color, var(--gray800));
  font-size: var(--fs, var(--font-xxxs));
  line-height: var(--lh, var(--lh-1));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, var(--fw-regular));
}

/* ------- 6.헤어라인 ------ */

/* 16px/16px */
.hairline-1 {
  /* color: light-dark(var(--gray800), var(--blue700)); */
  color: var(--color, var(--gray800));
  font-family: var(--ff-body);
  font-size: var(--font-xxs);
  line-height: var(--lh-1);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
/* 12px/12px */
.hairline-2 {
  /* color: light-dark(var(--gray500), var(--blue800)); */
  color: var(--color, var(--gray800));
  font-family: var(--ff-body);
  font-size: var(--font-xxxs);
  line-height: var(--lh-1);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

/* ---- 7.버튼 스타일 ---- */
.btn-xs {
  font-family: var(--ff-button);
  font-size: var(--font-xxs); /* 14px */
  line-height: var(--lh-12); /* 24px */
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-base);
}

.btn-s {
  font-family: var(--ff-button);
  font-size: var(--font-xs); /* 16px */
  line-height: 1.75; /* 28px */
  font-weight: var(--fw-bold);
  letter-spacing: var(--ls-xs);
}

.btn-m {
  font-family: var(--ff-button);
  font-size: var(--font-sm); /* 18px */
  line-height: 1.778; /*32px */
  font-weight: var(--fw-semibold);
  letter-spacing: var(--ls-base);
}

.btn-l {
  font-family: var(--ff-button);
  font-size: 2.2rem; /* 22px */
  line-height: var(--lh-9-1); /* 34px, 1.545 */
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-base);
}

.btn-xl {
  font-family: var(--ff-button);
  font-size: 2.6rem; /* 26px */
  line-height: var(--lh-8-2) 1.462; /* 38px */
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-base);
}

/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */

/* Weight */
.font-regular {
  font-weight: var(--fw-regular);
}

.font-medium {
  font-weight: var(--fw-medium);
}

.font-semibold {
  font-weight: var(--fw-semibold);
}

.font-bold {
  font-weight: var(--fw-bold);
}

/* Bold, Strong */
strong,
b {
  &[class*='text-'] {
    font-weight: var(--fw, var(--fw-bold));
  }
}

/* 링크스타일 */
.link,
.link2,
link3 {
  cursor: pointer;
}

.link:hover {
  /* color: var(--gray400); */
  text-decoration: underline 0.3rem;
  text-decoration-color: light-dark(var(--gray800), var(--white));
  text-underline-offset: 0.6rem;
}

.link2:hover {
  text-decoration: underline 0.3rem;
  text-decoration-color: light-dark(var(--gray800), var(--gray800));
  text-underline-offset: 0.6rem;
}

.link3:hover {
  text-decoration: underline 0.3rem;
  text-decoration-color: light-dark(var(--gray800), var(--gray100-40));
  text-underline-offset: 0.6rem;
}

/* Text Colors */
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-danger {
  color: var(--danger);
}

.text-success {
  color: var(--success);
}

.text-warning {
  color: var(--warning);
}

.button-text-size {
  color: blue;
}
.body-text-size {
  color: red;
}
.caption-text.size {
  color: violet;
}
.text-size-group {
  p {
    margin-bottom: 2rem;
  }
}
.info-text {
  font-size: 1.2rem;
  margin-left: 2rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
}
