/* -------------------------------------------------------------------------- */
/*                                    전역CSS                                 */
/* -------------------------------------------------------------------------- */
:root {
  --white: #ffffff;
  --black: #000;

  /* Gray Scale */
  --gray900: #111111;
  --gray800: #141718; /*text*/
  --gray700: #232627;
  --gray600: #343839;
  --gray500: #6c7275;
  --gray400: #d8d8d8;
  --gray300: #e8ecef;
  --gray200: #f3f5f7;
  --gray100: #fefefe;

  /* Alpha Colors */
  --gray100-03: rgba(255, 255, 255, 0.03);
  --gray100-05: rgba(255, 255, 255, 0.05);
  --gray100-10: rgba(255, 255, 255, 0.1);
  --gray100-20: rgba(255, 255, 255, 0.2);
  --gray100-30: rgba(255, 255, 255, 0.3);
  --gray100-40: rgba(255, 255, 255, 0.4);
  --gray100-50: rgba(255, 255, 255, 0.5);
  --gray100-70: rgba(255, 255, 255, 0.7);
  --gray100-80: rgba(255, 255, 255, 0.8);
  --gray100-85: rgba(255, 255, 255, 0.85);
  --gray100-90: rgba(255, 255, 255, 0.9);
  --gray100-95: rgba(255, 255, 255, 0.95);

  --gray200-50: rgba(243, 245, 247, 0.5);

  --gray300-50: rgba(232, 236, 239, 0.5);
  --gray300-75: rgba(232, 236, 239, 0.75);

  --gray500-15: rgba(108, 114, 117, 0.15);
  --gray500-25: rgba(108, 114, 117, 0.25);
  --gray500-50: rgba(108, 114, 117, 0.5);
  --gray500-75: rgba(108, 114, 117, 0.75);

  --gray600-50: rgba(52, 56, 57, 0.5);

  --gray700-95: rgba(35, 38, 39, 0.95);
  --gray700-90: rgba(35, 38, 39, 0.9);
  --gray700-50: rgba(35, 38, 39, 0.5);

  --gray800-95: rgba(20, 23, 24, 0.95);
  --gray800-50: rgba(20, 23, 24, 0.5);

  /* Red Colors */
  /* --red900: #2e0507;
  --red800: #5c0a0f;
  --red700: #8b0e16; */
  --red600: #ff5630; /* Red from Figma */
  /* --red400: #ec4651;
  --red300: #f1747c;
  --red200: #f5a3a8;
  --red100: #fbd6d8; */

  /* Yellow Colors */
  /* --yellow900: #4d370b;
  --yellow800: #66490e;
  --yellow700: #98690a; */
  --yellow600: #ffab00; /* Yellow from Figma */
  /* --yellow400: #ffd47c;
  --yellow300: #ffe2a7;
  --yellow200: #ffeac1;
  --yellow100: #fff8e9; */

  /* Green Colors */
  /* --green900: #00370c;
  --green800: #005312;
  --green700: #006e18; */
  --green600: #38cb89; /* Green from Figma */
  /* --green400: #8cca99;
  --green300: #b2dcbb;
  --green200: #cee9d4;
  --green100: #eef7f0; */

  /* Blue Colors */
  /* --blue900: #030e3b; */
  --blue800: #00256b;
  --blue700: #0049d1;
  --blue600: #377dff; /* Blue from Figma */
  --blue500: #6b9fff;
  /* --blue300: #7ca6f3;
  --blue200: #a7c4f7;*/

  /* Semantic Colors */
  --primary: var(--blue600);
  --secondary: var(--gray600);
  --danger: var(--red600);
  --success: var(--green600);
  --warning: var(--yellow600);

  /* Font Families */
  --ff-heading: 'Poppins', sans-serif;
  --ff-body: 'Inter', sans-serif;
  --ff-button: 'Inter', sans-serif;

  /* Font Sizes, 10px/1rem */
  --font-xxxs: 1.2rem;
  --font-xxs: 1.4rem;
  --font-xs: 1.6rem;
  --font-sm: 1.8rem;
  --font-base: 2rem;
  --font-smd: 2.2rem; /* 22px 추가 */
  --font-md: 2.6rem; /* 26px추가 */
  --font-lg: 2.8rem;
  --font-xl: 3.2rem;
  --font-xxl: 3.4rem;
  --font-3xl: 4rem;
  --font-4xl: 5.4rem;
  --font-5xl: 7.2rem;
  --font-6xl: 8rem;
  --font-7xl: 9.6rem;

  /* Line Heights */
  --lh-1: 1;
  --lh-2: 1.05;
  --lh-3: 1.06;
  --lh-4: 1.07;
  --lh-5: 1.1;
  --lh-6: 1.12;
  --lh-7: 1.21;
  --lh-8: 1.43;
  --lh-8-2: 1.462; /*추가*/
  --lh-9-1: 1.545; /*추가*/
  --lh-9: 1.57;
  --lh-10: 1.6;
  --lh-11: 1.625;
  --lh-12: 1.714;

  /* Font Weights */
  --fw-xlight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Letter Spacing */
  --ls-xs: -0.01rem;
  --ls-sm: -0.02rem;
  --ls-base: 0;
  --ls-md: -0.04rem;
  --ls-lg: -0.1rem;
  --ls-xlg: -0.16rem;
}
